#virtual environment
.venv/

#ide
.vscode/

#python cache
__pycache__/
*.pyc
*.pyo

#models
models/*
!models/.gitkeep

#envoriment files 
.env

#dataset folder
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

#os clutter
Thumbs.db
desktop.ini
.DS_Store

#jupyter checkpoint
.ipynb_checkpoints/